<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - WebApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/WebApp.styles.css" asp-append-version="true"/>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-page="/Index">WebApp</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarLangDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Admin</a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <l1 class="nav-item">
                        <a class="nav-link text-dark" asp-controller="AnswerOption" asp-action="Index">AnswerOption</a>
                    </l1>
                    <l1 class="nav-item">
                        <a class="nav-link text-dark" asp-controller="BankAccount" asp-action="Index">BankAccount</a>
                    </l1>
                    <l1 class="nav-item">
                        <a class="nav-link text-dark" asp-controller="Event" asp-action="Index">Event</a>
                    </l1>
                    <l1 class="nav-item">
                        <a class="nav-link text-dark" asp-controller="EventNavigation" asp-action="Index">EventNavigation</a>
                    </l1>
                    <l1 class="nav-item">
                        <a class="nav-link text-dark" asp-controller="EventUser" asp-action="Index">EventUser</a>
                    </l1>
                    <l1 class="nav-item">
                        <a class="nav-link text-dark" asp-controller="Meeting" asp-action="Index">Meeting</a>
                    </l1>
                    <l1 class="nav-item">
                        <a class="nav-link text-dark" asp-controller="MeetingUser" asp-action="Index">MeetingUser</a>
                    </l1>
                    <l1 class="nav-item">
                        <a class="nav-link text-dark" asp-controller="MoneyTransfer" asp-action="Index">MoneyTransfer</a>
                    </l1>
                    <l1 class="nav-item">
                        <a class="nav-link text-dark" asp-controller="Payment" asp-action="Index">Payment</a>
                    </l1>
                    <l1 class="nav-item">
                        <a class="nav-link text-dark" asp-controller="Questionnaire" asp-action="Index">Questionnaire</a>
                    </l1>
                    <l1 class="nav-item">
                        <a class="nav-link text-dark" asp-controller="QuestionnaireRelation" asp-action="Index">QuestionnaireRelation</a>
                    </l1>
                    <l1 class="nav-item">
                        <a class="nav-link text-dark" asp-controller="Requirement" asp-action="Index">Requirement</a>
                    </l1>
                    <l1 class="nav-item">
                        <a class="nav-link text-dark" asp-controller="RequirementOption" asp-action="Index">RequirementOption</a>
                    </l1>
                    <l1 class="nav-item">
                        <a class="nav-link text-dark" asp-controller="RequirementUser" asp-action="Index">RequirementUser</a>
                    </l1>
                </ul>
            </div>
            
            <partial name="_LanguageSelection"/>
            
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>
                    </li>
                </ul>
                <partial name="_LoginPartial"/>
            </div>
        </div>
    </nav>
</header>
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2022 - WebApp | UI Culture: @Thread.CurrentThread.CurrentUICulture.Name | Culture: @Thread.CurrentThread.CurrentCulture.Name
        <a asp-area="" asp-page="/Privacy">Privacy</a>
    </div>
</footer>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

@await RenderSectionAsync("Scripts", required: false)
</body>
</html>